
<select (change)="onChange($event.target.value)" class="center-block">
  <option value="allAnimals" selected="selected">All Animals</option>
  <option value="youngAnimals">Young Animals</option>
  <option value="matureAnimals">Mature Animals</option>
  <option value="carnivoreAnimals">Carnivorous Animals</option>
  <option value="herbivoreAnimals">Herbivore Animals</option>
  <option value="piscivoreAnimals">Piscivore Animals</option>

</select>


<ul>
  <li [class]="ageColor(currentAnimal)" *ngFor="let currentAnimal of childAnimalList | options:filterByOption; let index=index" class="well">
    <button (click)="editButtonClicked(currentAnimal)" class="btn edit">✍️ </button>
    <button (click)="deleteButtonClicked(index)" class="btn delete"><img src="resources/images/remove.png" alt=""></button>
    <h3>{{currentAnimal.name}} <small>{{currentAnimal.species}}</small></h3>
    <div class="row">
      <div class="col-md-6">
          <label for="caretakers">Number of Caretakers:</label> <p class="number"> {{currentAnimal.caretakers}}</p>
      </div>
      <div class="col-md-3">
          <label for="age">Age:</label> <p class="number">{{currentAnimal.age}}</p>
      </div>
      <div class="col-md-3">
          <label for="sex">Sex: </label> <p > {{currentAnimal.sex}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <label for="diet">Diet:</label> <p > {{currentAnimal.diet}}</p>
      </div>
      <div class="col-md-8">
          <label for="zoo-location">Zoo Location:</label> <p > {{currentAnimal.location}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <label for="likes">Likes: </label> <p> {{currentAnimal.likes}}</p>
      </div>
      <div class="col-md-6">
          <label for="dislikes">Dislikes:</label> <p> {{currentAnimal.dislikes}}</p>
      </div>
    </div>
  </li>
</ul>
