<div *ngIf="animalSelected">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p>
        {{animalSelected.name}}<br>
        {{animalSelected.species}}<br>
        {{animalSelected.age}}<br>
        {{animalSelected.diet}}<br>
        {{animalSelected.location}}<br>
        {{animalSelected.caretakers}}<br>
        {{animalSelected.sex}}<br>
        {{animalSelected.likes}}<br>
        {{animalSelected.dislikes}}<br>
      </p>
    </div>
    <div class="panel-body">
      <label for="name">Edit Animal's Name</label>
      <input [(ngModel)]="animalSelected.name">

      <label for="name">Edit Animal's Age</label>
      <input type="number"[(ngModel)]="animalSelected.age">

      <label for="name">Edit Animal's Caretaker Amount</label>
      <input type="number" [(ngModel)]="animalSelected.caretakers">
      <button (click)="editDoneButtonClicked()" class="btn">Done</button>
    </div>
  </div>
</div>
