ul {
  list-style-type: none;
}

body {
  background-image: url("../images/zoo_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.main-header {
  background-color: #463e3d;
  border: solid;
  border-radius: 10px;
  padding-left: 20px;
}

image {
  float: left;
}

button {
  background-color: #453d3c;
}

.btn {
  border: 2px solid white;
}
